@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lato:900);

#container {
	width: 1024px;
	margin: 0 auto;
	font-family: "Open Sans";
}

h1{
	width: 240px;
	margin:10px;
}

nav{
		display:block;
		width: 45%;
		margin-left: 500px;
		border: solid 2px #1C7272;
		color: black;
		margin-bottom: 20px;
		margin-top: 5px;
	}

li{
		display: inline;
		margin-right:4px;
		margin-left: 4px;
		letter-spacing: 2px;
		text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: black;
	font-family: "Lato";
	text-align: center;
}



h2{
	font-family: "Lato";
	font-size: 1.5em;
	letter-spacing: 3px;
	margin-top: 15%;
	text-align: center;
	color: #1C7272;

}

#main p {
	text-align: justify;
	border: solid grey 0.5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right:10px;

}

#main button{
	margin-left: 62%;
	margin-bottom: 10px;
	font-size: 0.8em;
}

#marketing {
	border: solid #1C7272 1.5px;
	width: 100%;
	margin-top: 7%;
}

#marketing .col1{
	border:solid #DEF9F8 3px;
	float: left;
	width: 32%;
	display: inline-block;
	margin: 0.3%;
	background-color: #DEF9F8;
	margin-top:0.5%;
}

#marketing .col1 p{
	text-align: justify;
	
}

#marketing .col2{
	border:solid #DEF9F8 3px;
	float: left;
	width: 32%;
	display: inline-block;
	margin: 0.3%;	
	background-color: #DEF9F8;
	margin-top:0.5%;
}
#marketing .col2 p{
	text-align: justify;

	
}

#marketing .col3{
	border:solid #DEF9F8 3px;
	float: left;
	width: 32%;
	display: inline-block;
	margin: 0.3%;
	background-color: #DEF9F8;
	margin-top:0.5%;
}

#marketing h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin:1%;
	color: #1C7272;
}

#marketing .col3 p{
	text-align: justify;
	
}

#marketing button{
	font-size: 0.7em;
	margin-left: 125px;
	margin-bottom: 20px;
	margin-top: 15px;
}
#marketing img {
	margin-left: 90px;	
	margin-bottom: 12px;
	margin-top: 15px;

}

#info {
	width: 100%;
	display: inline-block;

}
#info .col1{
	background-color: #DEF9F8;
	border:solid #DEF9F8 3px;
	margin-top: 6%;
	width: 68%;
	float: left;
	display: inline-block;
	text-align: justify;

}

#info button{
	margin-left: 49%;
	margin-bottom: 1%;

}

#info img{
	margin-left: auto;
	margin-right: 4%;
	display: inline-block;
	border: solid black 3px;
	float: right;
	margin-top: 6%;

}

footer {
	display:inline-block;
}

footer .col1 {
	width: 23%;
	text-align: center;
	display: inline-block;
	margin-top: 2%;
}

footer .col2 {	
	border:solid #DEF9F8 4px;
	background-color: #DEF9F8;
	width: 23%;
	margin: 0.3%;
	display: inline-block;
	text-align: justify;
}

footer .col3 {
	width: 23%;
	margin: 0.3%;
	display: inline-block;
	text-align: justify;
	border:solid #DEF9F8 4px;
	background-color: #DEF9F8;
}

footer .col4 {
	width: 23%;
	margin: 0.3%;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	border:solid #DEF9F8 7px;
	background-color: #DEF9F8;

}

footer p {
	margin: 0.5%;
}

footer .col4 p {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 1%;
	font-weight: bold;
	color: #1C7272;
}
footer ul li {
	text-align: center;
	margin: 0.5%;
	font-size: 1em;

}



