header{
	background: url(../images/fondocafe.jpg);
	}
	nav{
		background-color: #230b03;
		position:absolute;
		display:block;
		width: 100%;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li{
		display: inline;
		margin-right:10px;
		margin-left: 10px;
	}
	.nav {
		text-decoration: none;
		color: white;
		font-family: Arial;
		font-size: 1.5em;
		font-weight: bold;
	}
	.nav:hover {
		color: #230b03;
		background: #8a6145;
	}
	body{
		background-color: white;
		font-family: Arial;
	}
	article{
		position:relative;
		display: inline-block;
		width: 600px;
		margin-top: 40px;

	}
	p{
		text-align: justify;
		margin: 10px;

	}
	h1{
		font-size: 30px;
		float:center;
	}
	footer{
		background-color: #230b03;
		position:absolute;
		display:block;
		width: 100%;
		color:white;
		margin-top: 40px;
		text-align: left;
		font-size: 12px;
	}