body {

}
#wraper {
	width: 1024px;
	margin: 0 auto;
}
.container {
	width: 990px;
	margin: 0 auto;
}
.container div{
	background:white;
	float:left;
	padding: 10px;
	margin:10px;
	width: 285px;

}
.container div img{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 100%;
	box-shadow: 5px 10px 80px;

}
h1 {
	font-size: 3em;
	font-family: Helvetica;
	text-align: center;
	letter-spacing: 10px;

}
p {
	color:black;
	font-family: helvetica;
}